header article {
    float: left;
}

header nav{
    text-align: right;
}

header nav ul li {  
    display: inline-block;
    padding: 5px;
}

header nav ul li a {
    text-decoration: none;
}

header *{
    color: #F9690E;
}

body {

    background :#F0F1F5;
    font-family : "Helvetica", sans-serif;
    padding: 0 100px;

}
main section:nth-child(1)
{
    background: url(picture.jpg);
    padding-top: 56.25%;   
    text-align: center;
}

main section:nth-child(1) h1{
    color:white;
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

main section:nth-child(1) h1 span{
    color: #F9690E;    
}


main section button {
    background: #F9690E;
    color: white;
    border: none;
    padding: 9px;
    width: 110px;
    margin: 19px;
}

main section button:hover{
    background: white;
    color: #F9690E;
    cursor: pointer;
}

main section:nth-child(2) article{
    display: inline-block;
    width: 33%;
    text-align: center;
    background: #F9690E;
    color: white;
}

main section:nth-child(2) article p {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
}

footer {
    padding: 7px;
}
footer article:nth-child(1){
    float: left;
}
footer article:nth-child(2){
    float: right;
}
