section p {
    color: aquamarine;
}

.main-list > li {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article + article{
    background-color: coral;
}
h2.trigger ~ p {
    color: royalblue;
    padding-left: 5rem;
}
ul {
    list-style-type: none;
}
ul ul {
    padding-left: 20px;
}
li {
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: navy;
}
.special {
    color: tomato;
}
li.special + li a{
    color:green
}