* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    font: 16px/1.5 Lato, sans-serif;
    background: #eee;
}

header {
    padding: 2em;
    background: #fff;
    display: flex;
    width: 100%;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);    
    border-radius: 0.3em; 
}
h1{
    flex: 1 1 40%
}
nav {
    display: flex;
    flex:0 1 auto;
}
nav ul {
    list-style: none;
    display: flex;    
    gap: 1em;
}
nav ul li {
    background: #eee;
    border-radius: 0.3em;    
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
    position: relative;
}
nav ul li:hover{
    background: orangered;
}
nav ul li ul {
    display: none;
    position: absolute; /* Position the child ul absolutely */
    left: -50%; 
    top: 70%;  
    z-index: 1000; /* Ensure it appears above other elements */
}
nav ul li a {
    display: block; /* Make the anchor a block-level element */
    padding: 1em; /* Add padding to the anchor instead of li */
    text-decoration: none;
    color: black;
    width: 100%; /* Make anchor fill the width of the li */
    height: 100%; /* Make anchor fill the height of the li */
    border-radius: 0.3em;
    box-sizing: border-box;
}
nav ul li:hover > ul {
    display: block;
}
li a {
    text-decoration: none;
    color: black
}