*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 2px solid black;
    padding: 1em 0em 3em 1em
}
.flex-container{
    display: flex;
    border: 2px solid blue;
    padding: 0.5em;
    max-width: 350px;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item{
    border: 2px solid black;
    background-color: rgb(228, 228, 228);
    padding: 1em;
    flex:start  
}
.align-content-flex-start{
    align-content: flex-start;
}
.align-content-center {
    align-content: center;
}
.align-content-flex-end
{
    align-content: flex-end;
}
.align-content-space-between{
    align-content: space-between;
}
.align-content-space-evenly{
    align-content: space-evenly;
}