*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: 16px/1.5 Lato, sans-serif;
    padding: 2em;
    background: #eee;
}
.site {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
}
h1 {
    color: limegreen;
    padding: 1em;
    flex: 1 1 100%;
}
nav, footer {
    background:dimgray;
    color:#fff
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}
ul li {
    border: 1px solid lightgray;    
    padding: 1em;
    flex:1 1 auto;
    text-align: center;
}

main,
aside {
    padding: 2em;
}

main p ,
aside p{
    margin: 1em 0 
}

footer {
    padding: 1em;
    flex:1 1 100%;
    text-align: center;
}

@media (min-width:1000px){

    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    ul li {
       flex: 1 1 20%;
       border: none;
    }
    
    .content{
        display: flex;
        width: 100%;
    }
    main {
        flex: 1 1 60%;
    }
    aside {
        flex: 1 1 30%;
    }
}
@media (min-width:1200px){

    .content{
        display: flex;
        width: 100%;
    }
    main {
        flex: 1 1 60%;
    }
    aside {
        flex: 1 1 30%;
    }
}