* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EEE;
    font-family: Lato; 
    margin: 0;
    padding: 2em;
}
.container {
    background: #fff;
    padding:2em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
    border-radius: 0.3em;
}
.columns{
    display: flex;
    flex-wrap: wrap;
}
.columns{
    gap: 2em 4em ;
    justify-content: center;
}
.columns > header,
.columns > footer {
    flex:0 0 100%;
    text-align: center;
    margin: 0em auto;
    margin-bottom: 2em;
    margin-top: 2em;
}
.columns > header p,
.columns > footer p {
    opacity: 0.6;
    margin: 0 auto;
    text-align: center;
    max-width: 450px;
}
.columns > footer p {
    max-width: 700px;
}
.columns > header > h2{
    padding-bottom: 0.5em;
}
.columns > article {
    flex:1 1 20%;
    gap: 1em;
    max-width: 300px;    
}
.columns > header::after,
.columns > footer::before {
    display: block;
    content: '';
    width: 5em;
    height: 2px;
    background-color: #eee;
    margin: 1em auto;
}
