* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
section{
    border: 2px solid black;
    margin: 2em auto;
    padding:  1em 2em;
    max-width: 700px;
}
article{
    font-style: italic;
}