*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 16px/1.5 Lato, sans-serif;    
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.main-nav ul {
    display: flex;    
    gap:0.5em
}
.main-nav li{
    display: block;
    list-style: none;
}
.main-nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.flex-columns {
    display: flex;
    justify-content: center;
}
.flex-columns.c2 > * {
    flex:1 1 45%
}
.flex-columns.c3 > * {
    flex:0 0 30%;
}


/*sections*/

body {
    background-image: url(images/background.jpg);
    background-position: center top -20em;
    background-size: 1900px auto;
    background-repeat: no-repeat;
}

.section .wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.section .wrapper.narrow {
    max-width: 900px
}

.section-banner,
.section-about,
.section-catalog header {
    text-align: center;
}

.site-header .site-title a {
        display: block;
        width: 8em;
        height: 8em;
        background: url(images/logo.png) center no-repeat;
        background-size: contain;
        text-indent: -100vw;
        overflow: hidden;
}
.section-banner .wrapper .button {
        display: inline-block;
        background-color: #fff;
        border-radius: 0.3em;
        color: #666;
        padding: 0.5em;
        margin-top: 1em;
        text-decoration: none;
}

.section-banner .wrapper h1 {
    padding-bottom: 1rem;
}
.section-banner .wrapper{
    padding: 6em 0em 4em 0;
}
.section-catalog .wrapper {
    padding: 1em 0 2em 0 ;
}
.section-catalog header {
    padding-bottom: 1.5em;
}
.section-catalog header h3{
    font-size: 1.2em;
}

.section-catalog .flex-columns.c2{
    gap: 9em;
}
.section-catalog .flex-columns.c2 article {
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}
.section-catalog .flex-columns.c2 article > * {
    flex: 0 0 50%
}
.section-catalog .flex-columns.c2 article h4{
    font-size: 1em;
    text-align: center;
}

.section-catalog .flex-columns.c2 article .media{
    overflow: hidden;
    background-color: black;
    position: relative;
}
.section-catalog .flex-columns.c2 article .media img {
    position: absolute;
    height: 100%;
    width: auto;
    
}
.section-catalog .flex-columns.c2 article section{
    background: #fff;
    padding: 1em
}
.section-catalog .flex-columns.c3{
    gap: 3em;
}
.section-catalog .flex-columns.c3 img {
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.4);
}
.section-furniture {
    background: #fff;
}
.section-furniture .wrapper{
    
    padding: 3em 0;
}
.section-furniture .flex-columns.c3{
    gap: 2em;
}
.section-furniture .flex-columns.c3 > *{
    flex: 1 1 30%;
    text-align: center;
}
.section-furniture .flex-columns.c3 img {
    height: 6em;
    width: 6em;
    margin: 0 auto;
}
.section-furniture .flex-columns.c3 h4{

    font-size: 1.2em;
}
.section-about .wrapper{
    padding: 2em 2em;
    opacity: 0.6;
}

.section-about .wrapper header{
    padding-bottom: 2em;
}
.section-about .wrapper header h3 {
    font-size: 1.2em;

}
.section-about .wrapper header p {
    font-style: italic;
}
.section-about .wrapper p {
    max-width: 100ch;
    margin: 0 auto;
}
.site-header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.site-footer{
    background: #2D333C;
    color:#DDD;
    text-align: center;
}
.site-footer .wrapper{
    padding: 1em ;
}
.section-catalog {
    background-color:#60ACC1;
}

